<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/readings.css" />
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>
    
    <main>
      <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } else if (successMessage) { %>
          <div class="user-message user-message--success"><%= successMessage %></div>
      <% } %>

      <div id="loader"></div>

      <h1 class="theme-header"><%= theme.title%></h1>
      <div class="card-form" id="add-reading-form">
        <form class="reading-form" action="/admin/add-readings/<%= theme._id%>" method="POST">
          <div class="form-control">
              <input type="text" name="reading" id="reading" placeholder="Reading" />
          </div>
  
          <div class="form-control">
              <label class="category-label" for="category">Category</label>
              <select name="category" id="category">
                  <option value="">(Select One)</option>
                  <option value="Historical">Historical</option>
                  <option value="Prophetical">Propetical</option>
                  <option value="Epistle">Epistle</option>
                  <option value="Gospel">Gospel</option>
              </select>
          </div>
          <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
          <div class="form-control">
            <button id="add-reading-btn" class="btn" type="submit">Add Reading</button>
          </div>
        </form>
      </div>
      <% if (!readings) { %>
        <h2>No readings found!</h2>
     
      <% } else {  %>
        <nav class="category-nav">
          <ul class="category-list">
            <li class="btn">All</li>
            <li class="btn">Historical</li>
            <li class="btn">Prophetical</li>
            <li class="btn">Epistle</li>
            <li class="btn">Gospel</li>
          </ul>
        </nav>

      <div class="grid-readings">
        <% if (readings.historical) { %>
        <ul id="h1" class="readings-columns">
          <h3 class="category-header">Historical</h3>
          <% readings.historical.forEach(reading => { %>
            <li class="flex">
              <p><%= reading.reading%></p>
              <!-- <form action="/admin/delete-reading/<%= theme._id%>" method="POST"> -->
                <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
                <input type="hidden" name="themeId" value="<%= theme._id%>" />
                <input type="hidden" name="readingId" id="readingId" value="<%= reading._id%>"/>
                <button onclick="deleteReading(this)" class="btn" type="button">Delete</button>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.prophetical) { %>
        <ul id="p1" class="readings-columns">
          <h3 class="category-header">Prophetical</h3>
          <% readings.prophetical.forEach(reading => { %>
            <li class="flex">
              <p><%= reading.reading%></p>
                <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
                <input type="hidden" name="themeId" value="<%= theme._id%>" />
                <input type="hidden" name="readingId" id="readingId" value="<%= reading._id%>"/>
                <button onclick="deleteReading(this)" class="btn" type="button">Delete</button>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.epistle) { %>
        <ul id="e1" class="readings-columns">
          <h3 class="category-header">Epistle</h3>
          <% readings.epistle.forEach(reading => { %>
            <li class="flex">
              <p><%= reading.reading%></p>
                <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
                <input type="hidden" name="themeId" value="<%= theme._id%>" />
                <input type="hidden" name="readingId" id="readingId" value="<%= reading._id%>"/>
                <button onclick="deleteReading(this)" class="btn" type="button">Delete</button>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.gospel) { %>
        <ul id="g1" class="readings-columns">
          <h3>Gospel</h3>
          <% readings.gospel.forEach(reading => { %>
            <li class="flex">
              <p><%= reading.reading%></p>
                <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
                <input type="hidden" name="themeId" value="<%= theme._id%>" />
                <input type="hidden" name="readingId" id="readingId" value="<%= reading._id%>"/>
                <button onclick="deleteReading(this)" class="btn" type="button">Delete</button>
            </li>
          <% }) %>  
        </ul>
        <% } %>
      </div>
      <% } %>
      <!-- back to top button -->
      <button onclick="backToTop()" class="scroll-top">Top</button>
    </main>
        <script nonce="<%= nonce8%>" src="/js/scroll.js"></script>
        <script nonce="<%= nonce1%>" src="/js/admin.js"></script>
        <script nonce="<%= nonce3%>" src="/js/prep.js"></script>
    <%- include('../includes/end.ejs') %>





