<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/themes.css" />
  <link rel="stylesheet" href="/css/forms.css" />
  <link rel="stylesheet" href="/css/modal.css" />

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <div  id="backdrop-admin" class="modal-backdrop backdrop">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Attention!</h3>
            <span onclick="closeModal()" class="close">&times;</span>
        </div>
      <hr>
      <p>Are you sure you want to delete this theme?</p>
      <hr>
      <div class="modal-control">
        <button class="btn" onclick="deleteTheme()">Yes</button>
        <button onclick="closeModal()" class="btn">Cancel</button>
      </div>
    </div>
  </div>

  <main>
    
    <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } else if (successMessage) { %>
        <div class="user-message user-message--success"><%= successMessage %></div>
    <% } %>

    <div id="loader"></div>

    <% if (themes.length > 0) { %>
    <h1 class="themes-header">Themes</h1>
    <div class="grid">
      <% themes.forEach((theme) => { %>
        <article class="card theme-item">
          <!--modal-->
            
            <header class="card-header">
                <h2 class="theme-title"><%= theme.title %></h2>
            </header>
            <div class="card-image">
                <img src="/<%= theme.imageUrl %>" alt="<%= theme.title%>" />
            </div>
            <div class="card-content">
                <p class="theme-description"><%= theme.description%></p>
            </div>
            <div class="card-actions">
                    <div class="form-control">
                        <a href="/admin/edit-theme/<%= theme._id%>?edit=true" class="btn">Edit</a>
                        <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken%>" />
                        <input type="hidden" id="themeId" name="themeId" value="<%= theme._id%>" />
                        <button class="btn" onclick="showModal(this)">Delete</button>
                    </div>
                <a href="/admin/add-readings/<%= theme._id%>" class="btn">Add Readings</a>
            </div>
        </article>

      <% }) %>
    </div>
    <%- include('../includes/pagination.ejs') %>
    <% } else { %>
        <h1>No Themes Found!</h1>
        <div class="empty-container"></div>
    <% } %>
  </main>
  
    <script nonce="<%= nonce1%>" src="/js/admin.js"></script>
    
  <%- include('../includes/end.ejs') %>

