<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/user.css" />
  <link rel="stylesheet" href="/css/themes.css" />
  <link rel="stylesheet" href="/css/forms.css" />
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (themes.length > 0) { %>
    <h1 class="themes-header">Themes</h1>

    <div class="grid">
      <% themes.forEach((theme) => { %>
        <article class="card theme-item">
            <header class="card-header">
                <h2 class="theme-title"><%= theme.title %></h2>
            </header>
            <div class="card-image">
                <img src="<%= theme.imageUrl %>" alt="<%= theme.title%>" />
            </div>
            <div class="card-content">
                <p class="theme-description"><%= theme.description%></p>
            </div>
            <div class="card-actions">
                <form class="reading-form" action="/admin/add-reading" method="POST">
                    <div class="form-control">
                        <label for="reading">Reading</label>
                        <input type="text" name="reading" id="reading" />
                    </div>

                    <div class="form-control">
                        <label for="category">Category</label>
                        <select name="category" id="category">
                            <option value="Historical">Historical</option>
                            <option value="Prophetical">Propetical</option>
                            <option value="Epistle">Epistle</option>
                            <option value="Gospel">Gospel</option>
                        </select>
                    </div>
                    <input type="hidden" name="themeId" value="<%= theme._id%>"/>
                    <button class="btn" type="submit">Add Reading</button>
                </form>
                <form class="reading-form" action="/admin/delete-theme" method="POST">
                    <div class="form-control">
                        <a href="/admin/edit-theme/<%= theme._id%>?edit=true" class="btn">Edit</a>
                        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
                        <input type="hidden" name="themeId" value="<%= theme._id%>" />
                        <button class="btn" type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </article>

      <% }) %>
    </div>
    <% } else { %>
        <h1>No Themes Found!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
