<div class="backdrop"></div>
<header class="main-header">
  <li class="main-header__item logo-header">
    <a id="logo" class="logo" href="/"><span class="highlight-letter">Word</span>of<span class="highlight-letter">God</span></a>
    <span class="tooltip">Home</span>
  </li>
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <% if (isAuthenticated) { %> <% } %>
    </ul>
    <!--login/logout-->
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>

      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
          >Login</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
          >Signup</a
        >
      </li>

      <% } else { %>
      <!-- if user authenticated -->
      <li class="main-header__item">
        <a class="<%= path === '/themes' ? 'active' : '' %>" href="/themes"
          >All Themes</a
        >
      </li>
      <li class="main-header__item">
        <div class="username-container">
          <div class="user-icon-container">
            <img src="/images/user-icon.png" />
          </div>
          <button class="dropbtn" id="dropdown-btn"><%= username%> &#8681;</button>
          <ul class="dropdown-content">
            <li>
              <a
                class="<%= path === '/readings/result' ? 'active' : '' %>"
                href="/results"
                >My Result</a
              >
            </li>
            <li>
              <a
                class="<%= path === '/admin/add-themes' ? 'active' : '' %>"
                href="/admin/add-themes"
                >Add Themes
              </a>
            </li>
            <li>
              <a
                class="<%= path === '/admin/themes' ? 'active' : '' %>"
                href="/admin/themes"
                >My themes
              </a>
            </li>
            <li>
              <form action="/logout" method="post">
                <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
                <button type="submit">Logout</button>
              </form>
            </li>
          </ul>
        </div>
      </li>

      <% } %>
    </ul>
  </nav>
</header>

<!--Mobile view navigation-->
<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <% if (isAuthenticated) { %>

    <li class="mobile-nav__item">
      <a class="<%= path === '/themes' ? 'active' : '' %>" href="/themes"
        >All Themes</a
      >
    </li>
    <li class="mobile-nav__item">
      <div class="mobile-username-container">
        <button class="mobile-dropbtn" id="mobile-dropdown-btn">
          <div class="mobile-user-icon-container">
            <img src="/images/user-icon.png" />
          </div>
            <%= username%> &#8681;
        </button>
        
        <ul class="mobile-dropdown-content">
          <li>
            <a
              class="<%= path === '/readings/result' ? 'active' : '' %>"
              href="/results"
              >My Result</a
            >
          </li>
          <li>
            <a
              class="<%= path === '/admin/add-themes' ? 'active' : '' %>"
              href="/admin/add-themes"
              >Add Themes
            </a>
          </li>
          <li>
            <a
              class="<%= path === '/admin/themes' ? 'active' : '' %>"
              href="/admin/themes"
              >My themes
            </a>
          </li>
          <li>
            <form action="/logout" method="post">
              <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
              <button type="submit">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </li>
    <% } %> <% if (!isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
        >Login</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
        >Signup</a
      >
    </li>
    <% }  %> 
  </ul>
</nav>
