<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/consolidated.css" />
    <link rel="stylesheet" href="/css/add-result.css" />
    <link rel="stylesheet" href="/css/readings.css" />
    
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>
    
    <main>
      <!-- page loader effects -->
      <div id="loader"></div>

      <% if (!readings) { %>
        <h1>No readings found!</h1>
      <% } else {  %>
        <% if (errorMessage) { %>
          <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
      <h1 class="theme-header"><%= theme.title%></h1>

      <div class="add-result-button-cont">
        <button onclick="showModal()" id="add-result-button" class="btn add-result">Add result</button>
      </div>

      <div onclick="closeModal()" id="backdrop-consolidated" class="modal-backdrop"></div>

        <div id="add-result-modal" class="modal-content">

          <div class="modal-header">
            <h2>Create Preparation Result</h2>
          </div>

          <div class="final-reading-control">
              
            <form id="add-result-form" class="reading-form result-form" action="/results" method="POST">
              <!-- entrance song -->
              <div class="form-control add-result-control">
                <input placeholder="Entrance Song" class="<%= validationErrors.find(err => err.path === 'entranceSong') ? 'invalid' : ''%>"
                type="text" 
                name="entranceSong" 
                id="entranceSong"
                value="<% if (hasError) { %><%= result.entranceSong%><% } %>" />
              </div>
              <!-- first reading -->
              <div class="form-control add-result-control">
                  <input placeholder="1st Reading" class="<%= validationErrors.find(err => err.path === 'firstReading') ? 'invalid' : ''%>"
                  type="text" 
                  name="firstReading" 
                  id="firstReading"
                  value="<% if (hasError) { %><%= result.firstReading%><% } %>" />
              </div>
              <!-- psalm 1 -->
              <div class="form-control add-result-control">
                <input placeholder="1st psalm" class="<%= validationErrors.find(err => err.path === 'firstPsalm') ? 'invalid' : ''%>"
                type="text"
                name="firstPsalm" 
                id="firstPsalm"
                value="<% if (hasError) { %><%= result.firstPsalm%><% } %>" />
              </div>
              <!-- second reading -->
              <div class="form-control add-result-control">
                <input placeholder="2nd Reading" class="<%= validationErrors.find(err => err.path === 'secondReading') ? 'invalid' : ''%>"
                type="text" 
                name="secondReading" 
                id="secondReading"
                value="<% if (hasError) { %><%= result.secondReading%><% } %>" />
              </div>
              <!-- psalm 2 -->
              <div class="form-control add-result-control">
                <input placeholder="2nd psalm" class="<%= validationErrors.find(err => err.path === 'secondPsalm') ? 'invalid' : ''%>"
                  type="text" 
                  name="secondPsalm" 
                  id="secondPsalm"
                  value="<% if (hasError) { %><%= result.secondPsalm%><% } %>" />
              </div>
              <!-- third reading -->
              <div class="form-control add-result-control">
                <input placeholder="3rd Reading" class="<%= validationErrors.find(err => err.path === 'thirdReading') ? 'invalid' : ''%>"
                type="text" 
                name="thirdReading" 
                id="thirdReading"
                value="<% if (hasError) { %><%= result.thirdReading%><% } %>"  />
              </div>
              <!-- psalm 3 -->
              <div class="form-control add-result-control">
                <input placeholder="3rd Psalm" class="<%= validationErrors.find(err => err.path === 'thirdPsalm') ? 'invalid' : ''%>"
                type="text" 
                name="thirdPsalm" 
                id="thirdPsalm"
                value="<% if (hasError) { %><%= result.thirdPsalm%><% } %>"  />
              </div>
              <!-- gopel reading -->
              <div class="form-control add-result-control">
                <input placeholder="Gospel" class="<%= validationErrors.find(err => err.path === 'gospelReading') ? 'invalid' : ''%>"
                  type="text" 
                  name="gospelReading" 
                  id="gospelReading"
                  value="<% if (hasError) { %><%= result.gospelReading%><% } %>" />
              </div>
    
              <!-- final song -->
              <div class="form-control add-result-control">
                <input placeholder="Final Song" class="<%= validationErrors.find(err => err.path === 'finalSong') ? 'invalid' : ''%>"
                type="text" 
                name="finalSong" 
                id="finalSong"
                value="<% if (hasError) { %><%= result.finalSong%><% } %>" />
              </div>
              <input type="hidden" name="themeId" value="<%= theme._id%>" />
              <input type="hidden" name="themeTitle" value="<%= theme.title%>" />
              <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
              <div id="add-result-btn-container" class="form-control">
                <button class="btn" type="submit">Confirm</button>
                <button class="btn cancel" type="button" onclick="closeModal()">Cancel</button>
              </div>
            </form>

          </div>
        </div>

      <nav class="category-nav">
        <ul class="category-list">
          <li class="">All</li>
          <li class="">Historical</li>
          <li class="">Prophetical</li>
          <li class="">Epistle</li>
          <li class="">Gospel</li>
        </ul>
      </nav>

      <div class="grid-readings">
        <% if (readings.historical) { %>
        <ul id="h1" class="readings-columns">
          <h2 class="category-header">Historical</h2>
          <spam class="first-popup">Picked first reading.</spam>
          <% readings.historical.forEach(reading => { %>
            <li class="flex reading-1 <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p class="<%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>"><%= reading.reading%></p>
              <div class="vote-count"><%= reading.voteCount%></div>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.prophetical) { %>
        <ul id="p1" class="readings-columns">
          <h2 class="category-header">Prophetical</h2>
          <spam class="second-popup">Picked second reading.</spam>

          <% readings.prophetical.forEach(reading => { %>
            <li class="flex reading-2 <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p class="<%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>"><%= reading.reading%></p>
              <div class="vote-count"><%= reading.voteCount%></div>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.epistle) { %>
        <ul id="e1" class="readings-columns">
          <h2 class="category-header">Epistle</h2>
          <spam class="third-popup">Picked third reading.</spam>

          <% readings.epistle.forEach(reading => { %>
            <li class="flex reading-3 <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p class="<%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>"><%= reading.reading%></p>
              <div class="vote-count"><%= reading.voteCount%></div>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.gospel) { %>
        <ul id="g1" class="readings-columns">
          <h2 class="category-header">Gospel</h2>
          <spam class="gospel-popup">Picked gospel reading.</spam>

          <% readings.gospel.forEach(reading => { %>
            <li class="flex gospel <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p class="<%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>"><%= reading.reading%></p>
              <div class="vote-count"><%= reading.voteCount%></div>
            </li>
          <% }) %>  
        </ul>
        <% } %>
      </div>
      <div class="consolidated-form">
        <a class="" href="/readings/<%= theme._id%>">Back</a>
      </div>
      <% } %>
      

      <!-- back to top button -->
      <button onclick="backToTop()" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>
    </main>


    <script nonce="<%= nonce3%>" src="/js/prep.js"></script>
    <script nonce="<%= nonce4%>" src="/js/consolidated.js"></script>
    <script nonce="<%= nonce8%>" src="/js/scroll.js"></script>


    <%- include('../includes/end.ejs') %>



