<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/user.css" />
    <link rel="stylesheet" href="/css/readings.css" />
    <link rel="stylesheet" href="/css/consolidated.css" />
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>
    
    <main>
      <% if (!readings) { %>
        <h1>No readings found!</h1>
      <% } else {  %>
        <% if (errorMessage) { %>
          <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
      <h1 class="theme-header"><%= theme.title%></h1>

      <nav class="category-nav">
        <ul class="category-list">
          <li class="btn">All</li>
          <li class="btn">Historical</li>
          <li class="btn">Prophetical</li>
          <li class="btn">Epistle</li>
          <li class="btn">Gospel</li>
        </ul>
      </nav>


      <div class="final-reading-control">
          <button id="add-result-button" class="btn add-result">Add result</button>
        <form id="add-result-form" class="reading-form result-form" action="/results" method="POST">
          <!-- entrance song -->
          <div class="form-control add-result-control">
            <label for="entranceSong">Entrance Song</label>
            <input class="<%= validationErrors.find(err => err.path === 'entranceSong') ? 'invalid' : ''%>"
             type="text" 
             name="entranceSong" 
             id="entranceSong" />
          </div>
          <!-- first reading -->
          <div class="form-control add-result-control">
              <label for="firstReading">1st reading</label>
              <input class="<%= validationErrors.find(err => err.path === 'firstReading') ? 'invalid' : ''%>"
              type="text" 
              name="firstReading" 
              id="firstReading" />
          </div>
          <!-- psalm 1 -->
          <div class="form-control add-result-control">
            <label for="firstPsalm">Entrance Song</label>
            <input class="<%= validationErrors.find(err => err.path === 'firstPsalm') ? 'invalid' : ''%>"
            type="text"
            name="firstPsalm" 
            id="firstPsalm" />
          </div>
          <!-- second reading -->
          <div class="form-control add-result-control">
            <label for="secondReading">2nd reading</label>
            <input class="<%= validationErrors.find(err => err.path === 'secondReading') ? 'invalid' : ''%>"
            type="text" 
            name="secondReading" 
            id="secondReading" />
          </div>
          <!-- psalm 2 -->
          <div class="form-control add-result-control">
            <label for="secondPsalm">Entrance Song</label>
            <input class="<%= validationErrors.find(err => err.path === 'secondPsalm') ? 'invalid' : ''%>"
              type="text" 
              name="secondPsalm" 
              id="secondPsalm" />
          </div>
          <!-- third reading -->
          <div class="form-control add-result-control">
            <label for="thirdReading">3rd reading</label>
            <input class="<%= validationErrors.find(err => err.path === 'thirdReading') ? 'invalid' : ''%>"
             type="text" 
             name="thirdReading" 
             id="thirdReading" />
          </div>
          <!-- psalm 3 -->
          <div class="form-control add-result-control">
            <label for="thirdPsalm">Third Psalm</label>
            <input class="<%= validationErrors.find(err => err.path === 'thirdPsalm') ? 'invalid' : ''%>"
             type="text" 
             name="thirdPsalm" 
             id="thirdPsalm" />
          </div>
          <!-- gopel reading -->
          <div class="form-control add-result-control">
            <label for="gospelReading">Gospel</label>
            <input class="<%= validationErrors.find(err => err.path === 'gospelReading') ? 'invalid' : ''%>"
               type="text" 
               name="gospelReading" 
               id="gospelReading" />
          </div>

          <!-- final song -->
          <div class="form-control add-result-control">
            <label for="finalSong">Final Song</label>
            <input class="<%= validationErrors.find(err => err.path === 'finalSong') ? 'invalid' : ''%>"
             type="text" 
             name="finalSong" 
             id="finalSong" />
          </div>
          <input type="hidden" name="themeId" value="<%= theme._id%>" />
          <input type="hidden" name="themeTitle" value="<%= theme.title%>" />
          <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
          <div class="form-control">
            <button class="btn" type="submit">Confirm</button>
          </div>
        </form>
      </div>
      
      
      <div class="grid-readings">
        <% if (readings.historical) { %>
        <ul id="h1" class="readings-columns">
          <h2 class="category-header">Historical</h2>
          <% readings.historical.forEach(reading => { %>
            <li class="flex reading-1 <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p class="<%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>"><%= reading.reading%></p>
              <div class="vote-count"><%= reading.voteCount%></div>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.prophetical) { %>
        <ul id="p1" class="readings-columns">
          <h2 class="category-header">Prophetical</h2>
          <% readings.prophetical.forEach(reading => { %>
            <li class="flex reading-2 <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p class="<%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>"><%= reading.reading%></p>
              <div class="vote-count"><%= reading.voteCount%></div>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.epistle) { %>
        <ul id="e1" class="readings-columns">
          <h2 class="category-header">Epistle</h2>
          <% readings.epistle.forEach(reading => { %>
            <li class="flex reading-3 <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p class="<%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>"><%= reading.reading%></p>
              <div class="vote-count"><%= reading.voteCount%></div>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.gospel) { %>
        <ul id="g1" class="readings-columns">
          <h2>Gospel</h2>
          <% readings.gospel.forEach(reading => { %>
            <li class="flex gospel <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p class="<%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>"><%= reading.reading%></p>
              <div class="vote-count"><%= reading.voteCount%></div>
            </li>
          <% }) %>  
        </ul>
        <% } %>
      </div>
      <% } %>
      <div class="consolidated-form">
        <a class="btn" href="/readings/<%= theme._id%>">Back</a>
        
      </div>
    </main>
    <%- include('../includes/end.ejs') %>

    <script src="/js/prep.js"></script>
    <script src="/js/consolidated.js"></script>

