<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/user.css" />
    <link rel="stylesheet" href="/css/readings.css" />
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>
    
    <main>
      <% if (!readings) { %>
        <h1>No readings found!</h1>
      <% } else {  %>
      <h1 class="theme-header"><%= theme.title%></h1>
      <div class="grid-readings">
        <% if (readings.historical) { %>
        <ul class="readings-columns">
          <h2 class="category-header">Historical</h2>
          <% readings.historical.forEach(reading => { %>
            <li class="flex <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p><%= reading.reading%></p>
                <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
                <input type="hidden" value="<%= theme._id%>" name="themeId"/>
                <input type="hidden" value="<%= reading._id%>" name="readingId"/>
                <button onclick="voteReading(this)" type="button" class="btn vote-btn"><%= votedReadings.includes(reading._id.toString()) ? 'Unvote' : 'Vote'%></button>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.prophetical) { %>
        <ul class="readings-columns">
          <h2 class="category-header">Prophetical</h2>
          <% readings.prophetical.forEach(reading => { %>
            <li class="flex <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p><%= reading.reading%></p>
                <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
                <input type="hidden" value="<%= theme._id%>" name="themeId"/>
                <input type="hidden" value="<%= reading._id%>" name="readingId"/>
                <button onclick="voteReading(this)" type="button" class="btn vote-btn"><%= votedReadings.includes(reading._id.toString()) ? 'Unvote' : 'Vote'%></button>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.epistle) { %>
        <ul class="readings-columns">
          <h2 class="category-header">Epistle</h2>
          <% readings.epistle.forEach(reading => { %>
            <li class="flex <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p><%= reading.reading%></p>
                <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
                <input type="hidden" value="<%= theme._id%>" name="themeId"/>
                <input type="hidden" value="<%= reading._id%>" name="readingId"/>
                <button onclick="voteReading(this)" type="button" class="btn vote-btn"><%= votedReadings.includes(reading._id.toString()) ? 'Unvote' : 'Vote'%></button>
            </li>
          <% }) %>  
        </ul>
        <% } %>
        <% if (readings.gospel) { %>
        <ul class="readings-columns">
          <h2>Gospel</h2>
          <% readings.gospel.forEach(reading => { %>
            <li class="flex <%= votedReadings.includes(reading._id.toString()) ? 'voted' : ''%>">
              <p><%= reading.reading%></p>
                <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
                <input type="hidden" value="<%= theme._id%>" name="themeId"/>
                <input type="hidden" value="<%= reading._id%>" name="readingId"/>
                <button onclick="voteReading(this)" type="button" class="btn vote-btn"><%= votedReadings.includes(reading._id.toString()) ? 'Unvote' : 'Vote'%></button>
            </li>
          <% }) %>  
        </ul>
        <% } %>
      </div>
      <% } %>
      <div class="consolidated-form">
        <a class="btn" href="/readings/consolidated/<%= theme._id%>">Consolidate</a>
      </div>
    </main>
    <%- include('../includes/end.ejs') %>

  <script src="/js/prep.js"></script>

