<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/result.css" />
    <link rel="stylesheet" href="/css/modal.css" />
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>

  <div id="backdrop" class="modal-backdrop">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Attention!</h3>
            <span onclick="closeModal()" class="close">&times;</span>
        </div>
      <hr>
      <p>Are you sure you want to delete this result?</p>
      <hr>
      <div class="modal-control">
        <button class="btn" onclick="deleteResult()">Yes</button>
        <button onclick="closeModal()" class="btn">Cancel</button>
      </div>
    </div>
  </div>
    

  <main>
     <% if (results.length > 0) { %>
    <h1 class="themes-header">Results</h1>

    <div class="grid">
      <% results.forEach((result) => { %>
        <article class="card result-item">
            <header class="card-header">
                <h2 class="theme-title"><%= result.title %></h2>
            </header>

            <div class="result-content">
                <p>Preparation Date:</p>
                <p class=""><%= result.createdAt%></p>
            </div>

            <div class="result-content">
                <p>Entrance Song:</p>
                <p class=""><%= result.entranceSong%></p>
            </div>

            <div class="result-content">
                <p>First reading:</p>
                <p class=""><%= result.firstReading%></p>
            </div>

            <div class="result-content">
                <p>First psalm:</p>
                <p class=""><%= result.firstPsalm%></p>
            </div>

            <div class="result-content">
                <p>Second reading:</p>
                <p class=""><%= result.secondReading%></p>
            </div>

            <div class="result-content">
                <p>Second psalm:</p>
                <p class=""><%= result.secondPsalm%></p>
            </div>

            <div class="result-content">
                <p>Third reading:</p>
                <p class=""><%= result.thirdReading%></p>
            </div>

            <div class="result-content">
                <p>Third psalm:</p>
                <p class=""><%= result.thirdPsalm%></p>
            </div>

            <div class="result-content">
                <p>Gospel:</p>
                <p class=""><%= result.gospel%></p>
            </div>
            <div class="result-content">
                <p>Final Song:</p>
                <p class=""><%= result.finalSong%></p>
            </div>
            <div class="form-control">
                <input type="hidden" id="resultId" name="resultId" value="<%= result._id%>" />
                <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken%>" />
                <button onclick="showModal(this)" class="btn">Delete</button>
            </div>
        </article>

      <% }) %>
    </div>
    <% } else { %>
        <h1>No Results Found!</h1>
    <% } %> 
  </main>
    <%- include('../includes/end.ejs') %>

    <script src="/js/result.js"></script>

