<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/themes.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/modal.css" />
  </head>

  <body>
  <%- include('../includes/navigation.ejs') %>
  <!-- page loader -->
  <div id="loader"></div>
  <main>
    <div id="passcode-error" class="user-message user-message--error">Invalid Theme Passcode</div>
    <!-- modal -->
    <div onclick="closeModal()" id="backdrop-themes" class="passcode-modal-backdrop"></div>
      <div id="passcode-modal-content" class="passcode-modal-content modal-content">
          <div class="modal-header">
            <h3>Enter theme passcode</h3>
            <span onclick="closeModal()" class="close">&times;</span>
          </div>
          
            <div class="passcode-form-control">

              <div class="form-control">
                <input
                  class="passcode-input"
                  type="password"
                  name="passcode"
                  id="passcode"
                  placeholder="passcode"
                />
              </div>
              <button  id="passcode-btn" class="btn" onclick="postPasscode()">Submit</button>
            </div>
      </div>
   
    <% if (themes.length > 0) { %>
    <h1 class="themes-header">Themes</h1>

    <div class="grid">
      <% themes.forEach((theme) => { %>

        <article class="card theme-item">
            <header class="card-header">
                <h2 class="theme-title"><%= theme.title %></h2>
            </header>
            <div class="card-image">
                <img src="<%= theme.imageUrl %>" alt="<%= theme.title%>" />
            </div>
            <div class="card-content">
                <p class="theme-description"><%= theme.description%></p>
            </div>
            <% if (isAuthenticated) { %>
            <div class="card-actions">
              <input type="hidden" name="themeId" value="<%= theme._id%>" />
              <input type="hidden" name="csrfToken" value="<%= csrfToken%>" />
              <button class="btn" onclick="showModal(this)">Use</button>
            </div>
            <% } %>
        </article>

      <% }) %>
    </div>
    <%- include('../includes/pagination.ejs') %>
    <% } else { %>
        <h1>No Themes Found!</h1>
    <% } %>
  </main>

  <script nonce="<%= nonce7%>"  src="/js/themes.js"></script>

    <%- include('../includes/end.ejs') %>


   

